.container {
    width: 600px;
    height: 600px;
    border: 1px blue dotted;
}

.flex {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.child {
    background: tomato;
    margin: 5px;
    width: 100px;
    height: 100px;
    color: white;
    font-weight: bold;
    line-height: 100px;
    text-align: center;
    font-size: 20px;
}